*
{
    margin: 0;
    padding: 0;
}

.main
{
    width: 100%;
    background: url(backfground.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.nav
{
    width: 80%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a
{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: crimson;
    margin-top: -3%;
    transform: 0.4s ease;
}

ul li a:hover
{
    color:chartreuse;
    transform: translateX(15px);
}

.info
{
    margin-left: 7%;
    margin-top: 6%;
}

.info h4 {
    color: indigo;
    font-size: 15px;
    font-family: Comic Sans MS;
}

.info h3 {
    color: indigo;
    font-size: 20px;
    font-family: Comic Sans MS;
}

.info h1{
    color: blueviolet;
    font-size: 50px;
    font-family: Ink Free;
}


.info a{
    text-decoration: none;
    color: aqua;
    background: black;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius:10px ;
    display: inline-block;
    transition:0.4s ease;
}

.info a:hover{
    background: red;
}

.image
{
    width: 30%;
    height:60%;
    position: absolute;
    right: 100px;
    bottom: 40px;
    
}

.profile
{
   border-radius: 200px;
}

.image:hover .profile
{
   left: 55%;
}

.nav.logo
{
    border-radius: 100px;
}

.med
{
    position: absolute;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.med li
{
    list-style: none;
    
}

.med li a
{
    display:inline-block;
    
    
    margin: 0 5px;
    transform: scale(0.6);

}

.med li:hover
{
    transform: translateX(5px);
}